@model WebCrud.Models.Empresa

@{
    ViewData["Title"] = "Delete";
}

<h1 style="color: #FF9F94;">Tem certeza que desaja excluir esta empresa</h1>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeFantasia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeFantasia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CNPJ)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CNPJ)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cep)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cep)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" style="margin-top: 15px; margin-bottom: 15px; border-radius: 15px; background: #FFE4E1; color: #FF9F94; border: 0 none;" /> 
        
    </form>
</div>
<a asp-action="Index">Voltar</a>
