@model IEnumerable<WebCrud.Models.EmpresaFornecedor>

@{
    ViewData["Title"] = "Index";
}

<h1 style="color: #FF9F94;">Empresa e Fornecedor </h1>

<p>
    <a asp-action="Create">Cadastrar</a>
</p>
<table class="table">
    <thead style="color: #FF9F94;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Empresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fornecedor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Empresa.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fornecedor.Id)
            </td>
           @* <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>*@
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                </td>
        </tr>
}
    </tbody>
</table>
